@font-face {
	font-family: 'gcm-iconfonts-v4';
	src:url('fonts/gcm-iconfonts-v4.eot?-h651sv');
	src:url('fonts/gcm-iconfonts-v4.eot?#iefix-h651sv') format('embedded-opentype'),
		url('fonts/gcm-iconfonts-v4.woff?-h651sv') format('woff'),
		url('fonts/gcm-iconfonts-v4.ttf?-h651sv') format('truetype'),
		url('fonts/gcm-iconfonts-v4.svg?-h651sv#gcm-iconfonts-v4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gcm-iconfonts-v4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-localnav:before {
	content: "\e603";
}
.icon-envelope:before {
	content: "\e60a";
}
.icon-list-ul:before {
	content: "\e607";
}
.icon-angle-left:before {
	content: "\e60b";
}
.icon-angle-right:before {
	content: "\e60d";
}
.icon-question:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e609";
}
.icon-reply:before {
	content: "\e60c";
}
.icon-popup:before {
	content: "\e608";
}
.icon-bars:before {
	content: "\e602";
}
.icon-cross:before {
	content: "\e616";
}
.icon-arrow-down2:before {
	content: "\e606";
}
.icon-arrow-up:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e604";
}
.icon-file:before {
	content: "\e601";
}
.icon-copy:before {
	content: "\e60e";
}
.icon-calendar2:before {
	content: "\e60f";
}
.icon-cog:before {
	content: "\e615";
}
.icon-notification:before {
	content: "\e610";
}
.icon-close:before {
	content: "\e611";
}
.icon-checkmark:before {
	content: "\e612";
}
.icon-file-pdf:before {
	content: "\e613";
}
.icon-file-excel:before {
	content: "\e614";
}
