@using System.Configuration
@using System.Security.Policy
@using System.Web.Mvc.Html


<div class="jumbotron">
    <div class="main-title">
        <h1>Evaluate Your Current Portfolio</h1>
        <p>We offer risk-adjusted returns and exemplary client service</p>
    </div>
        <img src="/Styles/Images/Tablet_BG.jpg"/>
</div>






