@using System.Configuration
@using System.Security.Policy
@using System.Web.Mvc.Html


<div class="jumbotron">
    
    <div class="main-title">
        <h1>First, Evaluate Your Current Portfolio</h1>
        <p>We offer risk-adjusted returns and exemplary client service</p>
        <img src="/Styles/Images/evaluate.png"/>

    </div>


</div>






