@using System.Configuration
@using System.Security.Policy
@using System.Web.Mvc.Html

@Html.Partial("Navbar")

<div class="globalNav">
	<div class="inner-container">
	    <h1 class="page-header">@ViewBag.Header</h1>
        <!--commenting out "the go to documents" button
    @if (ViewBag.HideDocumentsButton == null || !ViewBag.HideDocumentsButton)
    {
        <a id="documents-link" class="button documents-button" href="@ConfigurationManager.AppSettings["DocumentsUrl"]"><span class="icon-copy"></span>&nbsp;&nbsp;Go To Documents</a>
    }
            //-->
    </div>
</div>



