<div class="jumbotron">
    <div class="main-title">
        <h1>Finally, plan your future allocations.</h1>
        <p>We offer risk-adjusted returns and exemplary client service</p>
        <img src="/Styles/Images/plan.png"/>
    </div>
</div>

