<div class="jumbotron">
        <div class="main-title">
            <h1>Next, research available hedge <br />fund investment opportunities.</h1>
            <p>We offer risk-adjusted returns and exemplary client service</p>
            <img src="/Styles/Images/research.png"/>
        </div>
<br/>
</div>
